.pageBase{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.gemoLogo{
    max-width: 80px;
}
.gemoText{
    color: #6050dc;
}
.githubParag{
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
}
.letsGoStyle{
    height: 45px;
    font-size: 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    width: 100px; 
    
}
.letsGoBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:768px){
    .gemoLogo{
        max-width: 7%;
    }
    .gemoText{
        font-size: 70px;
    }
    .githubParag{
        margin-top: 100px;
    }  
    .letsGoBtn{
        margin-top: 80px;
    }
}