.starred_github_page{
    background-color: aliceblue;
    margin: 0px 15px;
}
.title{
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    padding: 45px 30px;
}
.avatar_username{
    display: flex;
}
.username{
    margin: 40px 20px;
}
.description_base{
    text-align: center;
    color: slategrey;
    font-weight: 800;
    margin: 0px 15px;
}
.desc_star{
    display: flex;
    
}
.app{
    display: flex;
}
.desc_name{
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
}
.count{
    margin-top: 4px;
}
.issues{
    display: flex;
    padding-bottom: 25px;
}
.issues_count{
    padding-bottom: 35px;
    color: red;
    font-weight: 800;
}
.spinner{
    text-align: center;
    padding: 100px;
}


@media only screen and (min-width:768px){

    .desc_name{
        font-size: 50px;
    }

}